nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #333;
    color: white;
  }
  
  /* Navigation bar image */
  nav img {
    height: 40px; /* Adjust height as needed */
    width: auto; /* Maintain aspect ratio */
  }
  
  /* Navigation bar list */
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  /* Navigation bar list items */
  nav ul li {
    margin-right: 20px;
  }
  
  /* Navigation bar links */
  nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: lightgray;
  }
  
  /* Button */
  nav .buttonNav {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 20px;
    cursor: pointer;
  }
  
  nav .buttonNav:hover {
    background-color: #f7f7f7;
  }

  a {
    text-decoration: none;
}